In [1]:
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import numpy as np
import re
from tqdm import tqdm
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")

plt.rcParams["font.family"] = 'Malgun Gothic'

In [2]:
cluster = pd.read_csv('데이터/cluster.csv')

In [3]:
cluster

          국가     경제성장률  수출 무역의존도  수입 무역의존도  kmeans  kmedoids  hierarchal  gmm
0      나이지리아 -0.037044 -0.541000 -0.188991       1         0           0    1
1   남아프리카공화국 -0.281982 -0.557441 -0.188991       1         0           0    1
2       네덜란드  0.189053 -0.507031 -0.184804       1         0           0    1
3       노르웨이 -0.037044 -0.560034 -0.188991       1         0           0    1
4       뉴질랜드 -0.244300 -0.347189 -0.175319       1         0           0    1
5         대만 -0.206617 -0.406091  0.312456       1         0           0    1
6        덴마크  0.057163 -0.382203 -0.181533       1         0           0    1
7         독일 -0.319665 -0.456247  0.399997       1         0           0    1
8       라트비아 -0.281982 -0.467403 -0.188991       1         0           0    1
9        러시아 -1.054480 -0.589126 -0.188674       1         0           0    1
10      루마니아  0.245577 -0.482601 -0.188991       1         1           0    1
11     리투아니아 -0.300824 -0.596863 -0.175530       1         0           0    1
12     말레이시아  0.980392  0.773520  7.538112       2         1           3    2
13       멕시코 -0.074727 -0.523752 -0.186108       1         0           0    1
14        몽골  0.245577  1.943030 -0.188991       0         2           2    0
15        미국 -0.263141 -0.287837 -0.108381       1         0           0    1
16     방글라데시  0.678929 -0.596863 -0.188991       1         1           0    1
17       베트남  0.848502  2.871507 -0.164751       0         2           2    0
18       벨기에 -0.055886 -0.587645 -0.186810       1         0           0    1
19      불가리아 -0.018203  0.781528 -0.188991       1         2           0    1
20       브라질 -0.112410 -0.511940 -0.188991       1         0           0    1
21   사우디아라비아  0.980392 -0.527871 -0.188706       1         1           0    1
22      세르비아 -0.225458  1.671041 -0.188991       0         2           2    0
23       스웨덴 -0.168934 -0.590361 -0.073048       1         0           0    1
24       스위스 -0.263141 -0.531560  0.003087       1         0           0    1
25       스페인  0.377467 -0.582869 -0.183047       1         1           0    1
26     슬로베니아  0.358625 -0.425083 -0.188991       1         1           0    1
27      싱가포르  0.019480  0.448868 -0.169124       1         0           0    1
28    아랍에미리트  0.735453 -0.523294 -0.188369       1         1           0    1
29     아르헨티나  0.320943 -0.335569 -0.188991       1         1           0    1
30       아이티 -0.979114 -0.334116 -0.188991       1         0           0    1
31      아일랜드  1.602158 -0.201769 -0.171467       1         1           0    1
32       알제리 -0.074727  1.432139 -0.188991       0         2           2    0
33     에스토니아 -0.903749 -0.526866 -0.164153       1         0           0    1
34     엘살바도르 -0.168934 -0.104515 -0.188991       1         0           0    1
35        영국  0.113687 -0.296235  0.433928       1         0           0    1
36     오스트리아  0.283260  0.008476 -0.187318       1         1           0    1
37     우크라이나 -6.141658 -0.596863 -0.174251       3         0           1    3
38      이스라엘  0.565881 -0.301699 -0.180508       1         1           0    1
39       이집트  0.584722 -0.535324 -0.188991       1         1           0    1
40      이탈리아  0.038321 -0.564785 -0.181032       1         0           0    1
41        인도  0.660088  0.371359 -0.186443       1         1           0    1
42     인도네시아  0.339784 -0.173085 -0.184564       1         1           0    1
43        일본 -0.470396 -0.310050  0.155076       1         0           0    1
44        중국 -0.093568  5.245020  0.267061       0         2           2    0
45        체코 -0.187775 -0.345406 -0.106736       1         0           0    1
46        칠레 -0.206617  0.070597 -0.188991       1         0           0    1
47       캐나다 -0.018203 -0.378559 -0.163434       1         0           0    1
48      쿠웨이트  0.886185 -0.567969 -0.188991       1         1           0    1
49     크로아티아  0.528198  0.454867 -0.188991       1         1           0    1
50        태국 -0.168934 -0.228571 -0.060346       1         0           0    1
51        페루 -0.150093 -0.245089 -0.188991       1         0           0    1
52       폴란드  0.264418  0.752886 -0.182644       1         2           0    1
53       프랑스 -0.168934 -0.537531 -0.171146       1         0           0    1
54        피지  2.374655 -0.596863 -0.188991       1         1           0    1
55       핀란드 -0.263141 -0.196070 -0.172646       1         0           0    1
56       필리핀  0.773136  0.741245 -0.183306       1         1           0    1
57       헝가리  0.207894 -0.193268 -0.171557       1         1           0    1
58        홍콩 -1.318259  1.586423 -0.145156       0         2           2    0

클러스터링별 target cluster (선정 기준: 수출 무역의존도가 가장 높고, 경장성장률도 높은 클러스터)
- kmeans: 클러스터 0
- kmedoids: 클러스터 2
- hierarchal: 클러스터 2
- gmm: 클러스터 0

In [4]:
cluster[cluster['kmeans']==0]

      국가     경제성장률  수출 무역의존도  수입 무역의존도  kmeans  kmedoids  hierarchal  gmm
14    몽골  0.245577  1.943030 -0.188991       0         2           2    0
17   베트남  0.848502  2.871507 -0.164751       0         2           2    0
22  세르비아 -0.225458  1.671041 -0.188991       0         2           2    0
32   알제리 -0.074727  1.432139 -0.188991       0         2           2    0
44    중국 -0.093568  5.245020  0.267061       0         2           2    0
58    홍콩 -1.318259  1.586423 -0.145156       0         2           2    0

In [5]:
cluster[cluster['kmedoids']==2]

      국가     경제성장률  수출 무역의존도  수입 무역의존도  kmeans  kmedoids  hierarchal  gmm
14    몽골  0.245577  1.943030 -0.188991       0         2           2    0
17   베트남  0.848502  2.871507 -0.164751       0         2           2    0
19  불가리아 -0.018203  0.781528 -0.188991       1         2           0    1
22  세르비아 -0.225458  1.671041 -0.188991       0         2           2    0
32   알제리 -0.074727  1.432139 -0.188991       0         2           2    0
44    중국 -0.093568  5.245020  0.267061       0         2           2    0
52   폴란드  0.264418  0.752886 -0.182644       1         2           0    1
58    홍콩 -1.318259  1.586423 -0.145156       0         2           2    0

In [9]:
cluster[cluster['hierarchal']==2]

      국가     경제성장률  수출 무역의존도  수입 무역의존도  kmeans  kmedoids  hierarchal  gmm
14    몽골  0.245577  1.943030 -0.188991       0         2           2    0
17   베트남  0.848502  2.871507 -0.164751       0         2           2    0
22  세르비아 -0.225458  1.671041 -0.188991       0         2           2    0
32   알제리 -0.074727  1.432139 -0.188991       0         2           2    0
44    중국 -0.093568  5.245020  0.267061       0         2           2    0
58    홍콩 -1.318259  1.586423 -0.145156       0         2           2    0

In [10]:
cluster[cluster['gmm']==0]

      국가     경제성장률  수출 무역의존도  수입 무역의존도  kmeans  kmedoids  hierarchal  gmm
14    몽골  0.245577  1.943030 -0.188991       0         2           2    0
17   베트남  0.848502  2.871507 -0.164751       0         2           2    0
22  세르비아 -0.225458  1.671041 -0.188991       0         2           2    0
32   알제리 -0.074727  1.432139 -0.188991       0         2           2    0
44    중국 -0.093568  5.245020  0.267061       0         2           2    0
58    홍콩 -1.318259  1.586423 -0.145156       0         2           2    0

Target 국가: 몽골, 베트남, 불가리아, 세르비아, 알제리, 폴란드, 홍콩