In [1]:
import os
import pandas as pd
import numpy as np

In [12]:
path_inner = '../Data/Preprocessed/Log/내부.csv'
path_out = '../Data/Preprocessed/Log/외부.csv'

df_inner = pd.read_csv(path_inner)
df_out = pd.read_csv(path_out)

df_origin = pd.concat([df_inner, df_out], axis = 0)
df_origin = df_origin.drop(columns = [df_origin.columns[0]] + df_origin.columns[-6:-4].to_list())
# df_origin.to_csv('../Data/Preprocessed/innerOut.csv', index = False, encoding = 'utf-8-sig', escapechar = '\\')

C:\Users\WESLEYQUEST\AppData\Local\Temp\ipykernel_23116\3305892512.py:4: DtypeWarning: Columns (5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_inner = pd.read_csv(path_inner)

In [9]:
path = '../Data/Preprocessed/innerOut.csv'

df_origin = pd.read_csv(path)

C:\Users\WESLEYQUEST\AppData\Local\Temp\ipykernel_22556\1151644520.py:3: DtypeWarning: Columns (4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_origin = pd.read_csv(path)

In [10]:
df_origin.head(2)

,Timestamp,IP,URL,Category,URL Search Word,Referer,Referer Search Word,Referer Source,Referer Category,Referer Content Type,User Agent,Device,New IP,New Category,User Type,month,day,hour
0,2022-08-01 14:30:55+09:00,1.220.249.83,lafent.com/jobse/job_view.html?mcd=C01&idx=24596,jobs,NaN,NaN,NaN,NaN,etc,etc,Mozilla/5.0 (Linux; Android 12; SM-A908N Build...,android,10,jobs,내부,8,1,14
1,2022-08-01 14:32:14+09:00,1.220.249.83,lafent.com/jobse/job_view.html?mcd=C01&idx=23934,jobs,NaN,NaN,NaN,NaN,etc,etc,Mozilla/5.0 (Linux; Android 12; SM-A908N Build...,android,10,jobs,내부,8,1,14

# 경로 설정

In [11]:
path_df = pd.read_excel('../Data/Raw/path.xlsx')
path_df = path_df.fillna(method = 'ffill')

In [12]:
path_df.head(10)

  Category1 Category2   Category3                           Path
0        메인        메인          메인                              /
1        뉴스       뉴스홈         뉴스홈              /inews/index.html
2        뉴스   전체/주요뉴스   전체/주요뉴스메인  /inews/news_list.html?mcd=A01
3        뉴스   전체/주요뉴스     최신 주요뉴스  /inews/news_list.html?mcd=A02
4        뉴스   전체/주요뉴스        일반조경  /inews/news_list.html?mcd=A03
5        뉴스   전체/주요뉴스     생태복원/녹화  /inews/news_list.html?mcd=A04
6        뉴스   전체/주요뉴스     전통조경/명승  /inews/news_list.html?mcd=A05
7        뉴스   전체/주요뉴스  도시농업/정원/옥상  /inews/news_list.html?mcd=A06
8        뉴스   전체/주요뉴스     경관/도시계획  /inews/news_list.html?mcd=A07
9        뉴스   전체/주요뉴스    공공디자인/건축  /inews/news_list.html?mcd=A08

In [14]:
path_df['Category2'].nunique()

128

In [15]:
path_df['Category1'].nunique()

27

In [16]:
path_df.groupby(['Category1'])['Category2'].nunique()

Category1
e-아카데미            9
e-아카데미\n주문관리      3
e-아카데미 cs게시판      1
e-아카데미 게시판관리      3
e-아카데미 교육과정관리     7
e-아카데미 교재관리       2
e-아카데미 사용자관리      9
e-아카데미 사이트관리      7
e-아카데미 설문관리       1
e-아카데미 운영설정      14
e-아카데미 프로모션       2
검색                8
고객센터              6
관리자콘텐츠            9
관리자홈              1
뉴스                8
대시보드              1
마이페이지             8
매거진               6
메인                1
스마트홈페이지 관리자       1
작품/조경수/자재         9
채용/인재             7
커뮤니티              6
포토갤러리             7
회원서비스             3
회원정보              3
Name: Category2, dtype: int64